# RST
set_io rst 23

# RGB LED
set_io G_o 39
set_io B_o 40
set_io R_o 41

# Motors
set_io pwmL_o 47
set_io pwmR_o 3
set_io dirL_o 45
set_io dirR_o 4
set_io brL_o 48
set_io brR_o 44

# QEI
set_io qeiLA_i 9
set_io qeiLB_i 6
set_io qeiRA_i 18
set_io qeiRB_i 11
